.vscode/settings.json
Assets/Resources/Materials/MyDarkening.mat
Assets/Resources/Materials/MyDarkening.mat.meta
Assets/Resources/Materials/MyGrayscale.mat
Assets/Resources/Materials/MyGrayscale.mat.meta
Assets/Resources/Prefabs/UGUI/Popups/Dialog2ButtonsPopup.prefab
Assets/Resources/Prefabs/UGUI/Popups/Dialog2ButtonsPopup.prefab.meta
Assets/Resources/Prefabs/UGUI/Specialities
Assets/Resources/Prefabs/UGUI/Specialities.meta
Library
Temp
UserSettings
ProjectSettings
Packages
obj
Logs
*.csproj
MyClasses-Framework.sln
Assets/Resources/BillingMode.json
Assets/Resources/BillingMode.json.meta
.vs
.vsconfig
